<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../css/mui.min.css" rel="stylesheet" />
  </head>

  <body>
    <header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title" id="title"></h1>
    </header>
    <section class="mui-content">
      <div class="mui-card">
        <ul class="mui-table-view" id="container">

        </ul>
      </div>

    </section>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../data/data_poetry.js"></script>
    <script type="text/javascript">
      mui.init();
      mui.plusReady(plusReady);

      function plusReady() {
        var self = plus.webview.currentWebview();
        var key = self.key;
        // 渲染数据
        render(key);

        // 监听事件
        mui('ul').on('tap', 'li', function(ev) {
          var a = getElementByAttribute(ev.target, 'href');
          if(!a) return;
          var key = a.dataset['key'];
          if(!key) return;
          var item = data.category[key.split('_')[0]].data[key.split('__')[0]].data[key];
          if(key.indexOf('classical') >= 0) {
            mui.openWindow({
              url: '../detail/article_detail.html',
              id: '/views/detail/article_detail',
              extras: {
                item: item
              }
            });
          } else {
            mui.openWindow({
              url: '../detail/poetry_detail.html',
              id: '/views/detail/poetry_detail',
              extras: {
                item: item
              }
            });
          }
        });
      }

      function render(key) {
        document.getElementById('title').innerText = data.category[key].name;
        var _html = '',
          _className = 'mui-active';
        for(_key in data.category[key].data) {
          var item = data.category[key].data[_key];
          var _innerHtml = '';
          if(Object.keys(item.data).length > 0) {
            for(_innerKey in item.data) {
              var _innerItem = item.data[_innerKey];
              _innerHtml += '<li class="mui-table-view-cell">' +
                '<a href="#" class="mui-navigate-right" data-key="' + _innerItem.key + '">' + _innerItem.name + '</a>' +
                '</li>';
            }
          }
          _html += '<li class="mui-table-view-cell mui-collapse ' + _className + '">' +
            '<a class="mui-navigate-right" href="#">' + item.name + '<span class="mui-badge mui-badge-success">' + (Object.keys(item.data).length) + '</span></a>' +
            '<div class="mui-collapse-content">' +
            '<ul class="mui-table-view">' + _innerHtml + '</ul>' +
            '</div>' +
            '</li>';
          _className = '';
        }
        document.getElementById('container').innerHTML = _html;
      }
    </script>
  </body>

</html>