body {
  background-color: #E1E0C7;
  line-height: 1.5;
}

.mui-content {
  background-color: #F0EFE2;
}

.author {
  margin-bottom: 16px;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #666;
}

.content {
  margin: 5px 10px;
  padding-bottom: 22px;
}

.content p {
  text-indent: 2em;
  font-size: 16px;
  color: #444;
}

.more{
  padding: 10px;
  color: #0F0F0F;
}

.more .name{
  font-weight: 700;
}

.more .content{
  margin: 0;
  text-indent: 0;
}
